<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/main.css"/>
    <link rel="stylesheet" type="text/css" href="../static/main.css" th:href="@{/main.css}"/>
    <title>WordCounter: Result</title>
    <meta http-equiv="Content-Type"
          content="content/html; charset=UTF-8" />
</head>
<body>

<th:block th:each="word: ${words}">
    <p th:text="${word}"></p>
</th:block>

    <div id="container">
        <div class="bar" th:style="'background-color: aqua; width:' + ${keyA+'%'}">A</div>
        <div class="bar" th:style="'background-color: red; width:' + ${keyT+'%'}">T</div>
        <div class="bar" th:style="'background-color: green; width:' + ${keyC+'%'}">C</div>
        <div class="bar" th:style="'background-color: orange; width:' + ${keyG+'%'}">G</div>
    </div>
</body>
</html>